<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {{ gmap.js }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/hexagon.js') }}"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
         <a class="navbar-brand center" href="#">WFP</a>
    </nav>
    <div class="container">
        {{ gmap.html }}
    </div>
    <div id="main"></div>
    <script>
        let fire_coef = null; 
        function postInfo(latLng) {
            $.ajax({
                type: "POST",
                url: 'info',
                contentType: "application/json; charset=UTF-8",
                dataType: 'json',
                data: JSON.stringify({'latitude': latLng.lat(), 'longitude': latLng.lng()}),
                success: function (data) {
                    var div = $("#main");
                    div.empty();
                    fire_coef = data.fire_coef;
                    temp = data.temp;
                    humidity = data.humidity;
                    direction = data.direction;
                    let r = 10000;
                    let br = r * Math.sqrt(3);
                    div.append(`<h2>The temperature is: ${temp}, humidity is: ${humidity}, the direction: ${direction}</h2>`)
                    drawHexagon(gmap, latLng, r, fire_coef);
                    if(fire_coef > 0.5){
                        drawOuterHexagon(gmap, latLng, br);
                    }
                },
            });
        }

        $(document).ready(function () {
            setTimeout(function() {
                gmap.addListener(
                    'click',
                    (event) => {
                        postInfo(event.latLng);
                    }
                );
            }, 10);
        });
    </script>
</body>
</html>